# Replace the placeholders with your actual credentials locally
POSTGRES_USER: airflow
POSTGRES_PASSWORD: airflow
POSTGRES_DB: airflow
PGUSER: airflow
PGPASSWORD: airflow
PGDATABASE: airflow
PGADMIN_DEFAULT_EMAIL: admin@example.com
PGADMIN_DEFAULT_PASSWORD: admin
CSRF_ENABLED: "False"

CLICKHOUSE_USER: clickhouse
CLICKHOUSE_PASSWORD: clickhouse
CLICKHOUSE_DB: default

# Database Credentials
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=openmetadata_db
MYSQL_USER=openmetadata_user
MYSQL_PASSWORD=openmetadata_password

# OpenMetadata Database Connection
DB_HOST=mysql
DB_PORT=3306
DB_USER=openmetadata_user
DB_PASSWORD=openmetadata_password
DB_NAME=openmetadata_db


AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow

# Elasticsearch Configuration
ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_SCHEME=http

